<div class="card" style="font-family: 'Questrial', sans-serif;">
          <div id="userID">
            {{user.username}}
        </div>
        <a href="/post/{{id}}" class="postTitle">{{title}}</a>
        <div >
          {{post_text}}  
        </div>
      
    
    
</div>