<div class="box">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="card" style="font-family: 'Questrial', sans-serif;">
    <div id="userID">
      {{user.username}}
    </div>
    <a href="/post/{{id}}" class="postTitle">{{title}}</a>
    <div>
      {{post_text}}
    </div>
  </div>