<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pocket Plant</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300&family=Questrial&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div class="wrapper">
    <header class="display-flex justify-space-between align-center p-2" style="padding:0px !important">
      <div>
        <div class="image">
          <nav class="navbar" class="is-justify-content-space-between" role="navigation" aria-label="main navigation">
            <a class="navbar-item" href="/" style="background:none">Home</a>
            <a class="navbar-item" href="/dashboard" style="background:none">Dashboard</a>
            <a class="navbar-item" href="/about-us" style="background:none">About Us</a>
            {{!-- 'browse' get request needs to be created still --}}
            {{#if loggedIn}}
            <a class="navbar-item" id="logout" href="/" style="background:none">Logout</a>
            {{else}}
            <a class="navbar-item" href="/login" style="background:none">Login</a>
            {{/if}}
            <div>{{!-- search bar --}}
              <input type="text" placeholder="Search.." id="search">
              <button type="submit" class="searchBTN"><i class="fa fa-search"></i></button>
            </div>
          </nav>
        </div>
      </div>
      <h1 id="title">
        <div>
          <p id="welcome">Welcome to</p>
          <a id="pocketPlant" href="/"><strong>Pocket Plant</strong></a>
        </div>
      </h1>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer style="background-color:#cd7d04">
      <img class="footerImg" src="/images/pocket-plant-logo.png">
      Keeping plant care in your back pocket.<br>
      <a href="/about-us">About the creators</a>
      <a href="/chat-bot"><img src="/images/tadPole.jpg" id="tadPole"></a>
    </footer>
    >>>>>>> main
  </div>

  <!-- Render script for logged in users only -->
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/search.js"></script>
</body>

</html>