<section class="section">
  <h2 class="subtitle is-size-1 has-text-centered has-text-success-dark">Our Inspiration</h2>
  <div class="card">
    <div class="has-text-centered box section is-size-4"> The inspiration for Pocket Plant is a shared desire for a
      social
      media
      platform that
      focuses on plant care!
      We want to bring together plant lovers of all levels of expertise and allow them to trade tips, ask questions,
      find
      new plants, and, most of all, learn together.
      <br>For any questions that you do not wish to post about or desire an immediate response to, we have our friendly
      AI
      chatbot, Tad Pole.
      Tad is always ready to help you learn about the care of any plants that interest you!
      Tad Pole functions via the OpenAI API and follows a prompt completion model to provide quick and comprehensive
      answers.<br>
      We hope that this application can bring you some joy, knowledge, and connection!<br>
      This application was created as a project for the OSU Coding Bootcamp.
    </div>
  </div>
</section>
<section class="section">
  <h2 class="subtitle is-2 has-text-centered has-text-success-dark">Our Team</h2>
  <div class="columns is-mobile has-text-centered">
    <div class="column is-one-fifth">
      <div class="card">
        {{!-- <img src="" alt="Chris" style="width:100%"> --}}
        <div class="container">
          <h2 class="title has-text-centered">Chris Adams</h2>
          <a href="https://github.com/TrapAdams" class="button" target="_blank">GitHub</a>
          <a href="https://www.linkedin.com/in/chris-adams-1a0418170/" class="button" target="_blank">LinkedIn</a>
        </div>
      </div>
    </div>

    <div class="column ">
      <div class="card">
        {{!-- <img src="" alt="Jaime" style="width:100%"> --}}
        <div class="container">
          <h2 class="title has-text-centered">Jaime Marsh</h2>
          <a href="https://github.com/jaimemarsh" class="button" target="_blank">GitHub</a>
          <a href="https://www.linkedin.com/in/jaime-marsh-843871262/" class="button" target="_blank">LinkedIn</a>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        {{!-- <img src="" alt="Josh" style="width:100%"> --}}
        <div class="container">
          <h2 class="title has-text-centered">Josh Dawkins</h2>
          <a href="https://github.com/J05H94" class="button" target="_blank">GitHub</a>
          <a class="button" target="_blank">LinkedIn</a>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        {{!-- <img src="" alt="Ruth" style="width:100%"> --}}
        <div class="container">
          <h2 class="title has-text-centered">Ruth Stevens</h2>
          <a href="https://github.com/ruths98" class="button" target="_blank">GitHub</a>
          <a href="https://www.linkedin.com/in/ruth-stevens-5a2a2b244/" class="button" target="_blank">LinkedIn</a>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="card">
        {{!-- <img src="" alt="Sofia" style="width:100%"> --}}
        <div class="container">
          <h2 class="title has-text-centered">Sofia Milillo</h2>
          <a href="https://github.com/smilillo" class="button" target="_blank">GitHub</a>
          <a href="https://www.linkedin.com/in/sofia-milillo-207a63255/" class="button" target="_blank">LinkedIn</a>
        </div>
      </div>
    </div>

  </div>
</section>