    <div class="has-text-centered container mt-5 w-50">
        <h1 class="title" id="userID">Ask Tad Pole!</h1>
        <div class="card has-text-centered">
            <div class="card-header">
                Chat History
            </div>
            <ul id="chat-history" class="list-group list-group-flush">
            </ul>
        </div>
        <div class="input-group">
            <textarea id="user-input" class="form-control textarea" rows="3"></textarea>
        </div>
        <div class="has-text-centered">
            <button id="submit" type="button" class="button" >Ask Tad</button>
            <div id="spinner" class="spinner-grow text-primary visually-hidden mt-2" role="status">
            </div>
        </div>
    </div>

    <script src="js/chat-bot.js"></script>
