<h2>Dashboard</h2>
<div>
    {{!-- not yet working, path error --}}
    <a class="newpost-link" href="/dashboard/new"><button class="button" type="submit">Post
            Something!</button></a>
</div>
{{#if posts.length}}
<section>
    {{#each posts as |post|}}
    {{> post-info post}}
</section>
{{/each}}
{{else}}
<p>Nothing has been posted yet</p>
{{/if}}

{{!--
<script src="/js/new-post.js"></script> --}}