<p style=" font-family: 'Public Sans',sans-serif;">Plant lovers unite! Here at Pocket Plant, we wanted to create a space for you to nerd out on plants to your heart's content. Thats why we added a section to browse all the plants, an amphibious friend to guide you on proper plant care and any other questions you may have, as well as save your fave plants/the ones you already have! Sounds pretty great, right? All you have to do is create an account to get to save your plants and create posts. This is the perfect place to track your own plants and remind yourself of the care they need, all in one place! If you have an account, go ahead and login, otherwise you can click either login or dashboard and you will be redirected to a page where you will be able to sign up! it's easy peasy!</p>
<br>
 <h1 style=" font-family: 'Public Sans',sans-serif;"><strong>Recent Posts</strong></h1>
<div>
  {{#each posts as |post|}}
  {{> post-info post }}
  {{/each}}
</div>

