<h1>Welcome to Pocket Plant! An easy way to share things about plants and add
  to your garden.</h1>
<h1>
  Learn how to take care of different plants and expand your knowledge. You can look at them at the garden page.
</h1>


<div>
  {{#each posts as |post|}}
  {{> post-info post }}
  {{/each}}
</div>