{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea class="ms-3" name="comment-body" style="width: 25rem;" placeholder="ex. Cool Post!"></textarea>
    </div>

    <div>
        <button type="submit">Add Comment</button>
    </div>
</form>

{{/if}}
{{> comments post.comments }}
{{#if loggedIn}}

<script src="../public/js/comment.js"></script>
{{/if}}