<div class="card">
  {{#each plants as |this|}}
  <img src="{{this.default_image.small_url}}" alt="" id ="{{this.id}}" class="picRes">
  <a href='/search/{{this.id}}'><p>{{this.common_name}}</p></a>
  {{/each}}
</div>