main{
  background-image:url('/images/contentBG.jpg');
  background-size: 100%;
  
}

footer{
  color:white;
  height:10%;
  font-family: 'Public Sans',sans-serif;
  padding:8px;
  margin:8px;
  display:grid;
  justify-content:start;
}

.image{
  background-image:url('/images/plant-guide-1663941701.jpg') !important;
  height:500px;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-item{
color:white;
font-family: 'Public Sans',sans-serif;

}

.navbar{
  display:flex;
  justify-content: space-evenly ;
  background:none;
 
}

.card{
  border: 2px black solid;
  margin-bottom: 10px;
  padding: 10px;
}

.footerImg{
  width:10%;
}

#title{
    display:inline;
  position:absolute;
  top:25%;
  padding-left:25%;
  background:none;
  color:white;
  font-family: 'Public Sans',sans-serif;
}

#welcome{
  margin-bottom:none;
  font-size:2rem;
 position:relative;
 top:35px;
 left:15px;
}

#pocketPlant{
font-size:6rem;
color:white;
  
}

#postFlexBox{
  display:flex;
  flex-direction:row;
}

#postContent{
flex-direction:column;
}