main{
  background-image:url('/images/contentBG.jpg');
  background-size: 100%;
  
}

.image{
  background-image:url('/images/plant-guide-1663941701.jpg') !important;
  height:400px;
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar-item{
color:white;
}

.navbar{
  display:flex;
  justify-content: space-evenly ;
  background:none;
 
}
#title{
    display:inline;
  position:absolute;
  top:200px;
  padding-right:33%;
  background:none;
  color:white;
}

#welcome{
  margin-bottom:none;
  font-size:2rem;
}

#pocketPlant{
font-size:4rem;
color:white;
  
}

#postFlexBox{
  display:flex;
  flex-direction:row;
}

#postContent{
flex-direction:column;
}

.card{
  border: 2px black solid;
  margin-bottom: 10px;
  padding: 10px;
}